* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
}

.square {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 25%; 
    height: 25%;
    border: 1px solid black;
}